<template lang="html">
    <v-flex class=" mt-1 mb-2">
      <v-card >
        <v-card-text class="py-1" :class="isMyChat(chat.username) ? 'text-xs-right green lighten-4' : ''">
          <div class="subheading" >{{chat.message}}</div>
          <div class="font-weight-thin " style="font-size:11px;" >
            <span v-if="isMyChat(chat.username)" class="blue-grey--text lighten-4">Me</span>
            <span v-else class="pink--text">{{chat.username}}</span>
            <span > - {{(chat.sent || chat.created) | moment("HH:MM, DD-MM-YY")}}</span>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
</template>

<script>
export default {
  props : ['chat'],
  methods : {
    isMyChat(username){
      if (username == this.$store.state.username) {
        return true
      }else{
        return false
      }
    }
  },
}
</script>