<template lang="html">
  <v-flex xs10 class="pt-1" @submit.prevent="sendMessage">
    <v-layout row wrap>
      <v-flex offset-xs1>
        <v-form style="width:100%">
          <v-text-field
            label="Type your message here"
            v-model="message"
            ref="message"
            required
            >
          </v-text-field>
        </v-form>
      </v-flex>
    </v-layout>
  </v-flex>

</template>

<script>
export default {
  data() {
    return {
      message: ""
    };
  },
  methods: {
    async sendMessage() {
      let username = this.$store.state.username;
      let room_id = this.$store.state.room_id;
      let room_name = this.$store.state.room_name;
      if (this.message) {
        let message = {
          username: username,
          message: this.message,
          room:room_id,
          partner:room_name,
          created: new Date()
        };
        
        let response = await this.$socket.emit("i_chat", message);
        this.$store.commit("PUSH_CHAT", message)
        this.message = "";
      }
    }
  }
};
</script>