<template lang="html">
    <v-list-tile v-if="(this.$store.state.username!=member.username)" @click="switchRoom(member.username, member.username)">
      <v-list-tile-action >
        <v-icon color="blue" v-bind:style="(any_new_message) ? '' : 'display:none'">announcement</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>{{member.username}}</v-list-tile-title>
      </v-list-tile-content>
      <v-list-tile-avatar>
        <!-- <img :src="item.avatar"> -->
        <v-icon >person</v-icon>
      </v-list-tile-avatar>
    </v-list-tile>
</template>

<script>
export default {
  props : ['member'],
  data: function () {
    return {
      any_new_message: false,
    }
  },
  methods : {
    switchRoom:function(username){
      let payload = {room_id:username,room_name:username};
      if(this.$store.state.username!=username){
        this.any_new_message = false;
        this.$store.dispatch('setRoom', payload)
        this.$emit('contactClicked', {type:'partner',room:username,username:this.$store.state.username})
      }
    }
  },
  sockets:{
    newPrivateMessage:function(response){
      console.log('i have unread message')
      if(response.username==this.member.username && response.username != this.$store.state.room_id){
        this.any_new_message = true;
      }
    }
  }
}
</script>