<template lang="html">
  <v-container>
    <v-layout align-center justify-center>
      <v-flex xs10 md6>
        <v-card class="pl-3 pr-3 pt-4 pb-5 mt-4">
          <h2 class="text-xs-center mb-3">Login</h2>
          <v-form xs10 @submit.prevent="signIn" v-if="(!is_loading)" >
            <v-text-field
              label="Username"
              v-model="username">
            </v-text-field>

            <v-layout class='mt-3' justify-end>
              <v-btn type=submit class="primary" large >Login</v-btn>
            </v-layout>
          </v-form>

          <v-layout justify-center v-else>
            <v-progress-circular
              indeterminate
              :size="64"
              :width="6"
            >
            </v-progress-circular>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
/* @click="signIn" */
export default {
  data(){
    return{
      username : "",
      is_loading:false
    }
  },
  methods : {
    signIn(){
      if(this.username!=''){
        this.is_loading = true;
        this.$socket.emit("i_sign",{username:this.username});
      }
    },
  },
  sockets:{
    loginError:function(response){
        this.is_loading = false;
    }
  }
}
</script>

<style lang="css">
</style>