<template lang="html">
  <v-snackbar
      v-model="snackbar"
      :timeout=6000
      :top=true
      
    >
      {{ text }}
      <v-btn
        color="pink"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
</template>

<script>
export default {
  data(){
    return{
      text : "",
      snackbar : false
    }
  },
  sockets : {
    "someoneJoined":function(response){
      if(this.$store.state.is_logged_in){
        this.$data.text = response.username+' has joined ';
        this.$data.snackbar = true;
        
      }
    },
    newPrivateMessage:function(response){
      console.log('i have unread message')
      if(response.username != this.$store.state.room_id){
        this.$data.text = "New message from "+response.username;
        this.$data.snackbar = true;
      }
    },
    loginError:function(response){
        this.$data.text = response.message
        this.$data.snackbar = true;
    }
  }
}
</script>

<style lang="css">
</style>