<template>
  <v-app id="app">
    
    
      <!-- CONTACT LIST -->
      <v-navigation-drawer v-if="IS_LOGGED_IN"
        v-model="drawer"
        fixed
        app
      >
      <!-- src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" -->
        <v-card>
          <v-img
            src="src/assets/office.jpg"
            aspect-ratio="2.75"
          ></v-img>

          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Chat</h3>
              <div>{{this.$store.state.username}}</div>
              <!-- <div>Located two hours south of Sydney in the <br>Southern Highlands of New South Wales, ...</div> -->
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn flat color="indigo">Create Group</v-btn>
          </v-card-actions>
        </v-card>

        <v-list dense>
          <v-list-tile @click="switchToPublicRoom">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Public</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <!-- ($event) -->
          <div v-for="member in getMembers"  v-bind:key="member.socket_id" >
            <app-contact-list :member="member" v-on:contactClicked="getChatList()" ></app-contact-list>
          </div>
          
          
        </v-list>
      </v-navigation-drawer>

      <!-- TOOLBAR -->
      <v-toolbar v-if="IS_LOGGED_IN" color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>{{ROOM_NAME}}</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-toolbar-items @click="logOut()">
          <v-btn flat>Log out</v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- CONTENT / CHAT LIST -->
      <v-content v-if="IS_LOGGED_IN">
        <v-container fluid fill-height color="blue-grey">
          <v-layout
            align-center
            
          >
          
            <!-- CHAT LIST -->
            <v-flex style="overflow:auto;margin-bottom:70px;" class="px-3" ref="chatContainer">
              <div v-for="chat in CHATS"  v-bind:key="chat.username+'-'+chat.created" >
                  <app-chat-item :chat="chat"></app-chat-item>
              </div>
            </v-flex>

            <v-bottom-nav :value="true" absolute color="blue lighten-5" style='height:70px;bottom:0;'>
              <v-layout>
                <app-chat-box></app-chat-box>
              </v-layout>
            </v-bottom-nav>
            
          </v-layout>
        </v-container>
      </v-content>
      
      <v-footer color="indigo px-2" app>
        <span class="white--text">Asule &copy; 2018</span>
      </v-footer>

      <app-snackbar></app-snackbar>
      
    <div v-if="!IS_LOGGED_IN" >
      <app-form-login></app-form-login>
    </div>
  </v-app>

</template>

<script>
import Vue from 'vue'
import {mapGetters} from 'vuex'
import chatItem from './components/ChatItem'
import chatFormLogin from './components/FormLogin'
import chatSnackbar from './components/Snackbar'
import chatBox from './components/ChatBox'
import ContactList from './components/ContactList'


export default {
  data: () => ({
    drawer: null,
  }),
  components : {
    appChatItem : chatItem,
    appFormLogin : chatFormLogin,
    appChatBox : chatBox,
    appSnackbar : chatSnackbar,
    appContactList : ContactList,
  },
  computed:{
    ...mapGetters(['CHATS','IS_LOGGED_IN','getMembers','ROOM_NAME'])
  },
  mounted(){
    if(this.$store.state.is_logged_in){
      // this.$store.dispatch("SET_CHAT");
      
      this.getChatList();
      this.$socket.emit("getMembers");
    }
  },
  methods:{
    switchToPublicRoom(){
      this.$store.dispatch('setRoom', {'room_id':0,'room_name':"Public Room"})
      this.getChatList()
    },
    logOut:function(){
      this.$store.dispatch('setSocketId', '');
      this.$store.commit('SET_LOGGED_IN', false);
      this.$socket.emit('i_signout',this.$store.state.username);
    },
    getChatList:function(){
      let param = {}
      if(this.$store.state.room_id != 0){
        param = {type:'partner',room:this.$store.state.room_id,username:this.$store.state.username}
      }
      else{
        param = {type:'room',room:0}
      }
      this.$socket.emit("getChatList",param);
    }
  },
  updated(){
    window.scrollTo(0,document.body.scrollHeight);
  },
  sockets : {
    connect: function(){
      this.$store.dispatch('setSocketId', this.$socket.id);
      console.log('client socket connected');
      
      if(this.$store.state.is_logged_in){
        this.$socket.emit('update_socket',{user_name:this.$store.state.username})
      }

    },
    error(err) {
      console.log('client socket error : '+err);
      setTimeout(function(){
        this.$store.commit('SET_LOGGED_IN',false)
        location.reload();
      },3000)
    },
    someone_left:function(response){
      this.$store.commit('SET_MEMBERS',response);
    },
    iJoined:function(response){
      this.getChatList();
    }
  }
}

</script>

<style>
html,body{
  height: 100%
}
</style>